<nav id="navbar_products">
  <ul>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Birthday Bouquets
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/product">Most Popular</a>
        <a href="/product">Birthday Boy</a>
        <a href="/product">Birthday Girl</a>
        <a href="/product">Custom Name</a>
        <a href="/product">Mystery Bouquet</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Balloony Occasion
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/product">Graduation</a>
        <a href="/product">Good Luck!</a>
        <a href="/product">Get Well</a>
        <a href="/product">Wedding</a>
        <a href="/product">Retirement</a>
        <a href="/product">Patriotic</a>
        <a href="/product">Christamas</a>
        <a href="/product">Hanukkah</a>
        <a href="/product">Eid</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Build a Balloon Bouquet
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/product">Numbers</a>
        <a href="/product">Big Letters</a>
        <a href="/product">Common Designs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Decorating with Balloons
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/product">Arches</a>
        <a href="/product">Trees</a>
        <a href="/product">Kites</a>
        <a href="/product">Umbrellas</a>
        <a href="/product">Columns</a>
        <a href="/product">Centerpieces</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Balloons in Bulk
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/product">Small Latex</a>
        <a href="/product">Large Latex</a>
        <a href="/product">Small Mylar</a>
        <a href="/product">Large Mylar</a>
        <a href="/product">Special Orders</a>
      </div>
    </div>
  </ul>
</nav>